@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  padding: 10px;
  position: sticky;
  top: 0;
  /* background-color: #f1f1f1; */
  z-index: 999;
}

.navbar #right {
  width: 35%;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.navbar #right .span1 {
  color: black;
}
.navbar #right .span2 {
  color: rgb(244, 166, 21);
}

.navbar #left {
  width: 55%;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#left button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}
#left #btn1 {
  background-color: #6674cc;
}
#left #btn2 {
  background-color: white;
  color: #6674cc;
  border: 1px solid #6674cc;
}

#left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#left ul li {
  display: inline-block;
  padding: 10px;
}

#left ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
#left ul li a:hover {
  background-color: #c4c3c3;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#left ul li:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 5px 0;
}

.dropdown li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #fff;
  background-color: #c4c3c3;
}

/* responcive style for navbar */

/* first section start */
#first-section {
  min-height: 40%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(220, 222, 243));
  display: flex;
}

#left-section {
  float: left;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#left-section span {
  color: #6674cc;
}
#left-section #p1 {
  font-size: 55px;
  padding: 0;
  font-weight: 550;
  padding-bottom: 20px;
  margin-left: 100px;
}
#left-section #p1 span {
  color: #6674cc;
}

#left-section #p2 {
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
  font-size: 25px;
}
#left-section #p3 {
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  color: #6a6a6a;
}

#right-section {
  float: right;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-section img {
  height: 70%;
  padding-left: 150px;
}

/* ===========second section============= */
.second-section {
  min-height: 200px;
  background-color: #505ba0;
}

.second-section p {
  text-align: center;
  padding-top: 50px;
  padding-left: 40px;
  font-size: 20px;
  color: white;
  font-family: "Roboto Slab", serif;
}

.animate-no {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.animate-no div {
  text-align: center;
  padding-top: 20px;
  color: white;
}
.animate-no div h3 {
  font-weight: 500;
}

.animate-no div h4 {
  font-size: 20px;
  font-weight: 590;
  display: block;
}
.animate-no .first {
  text-align: end;
  width: 40%;
  padding-right: 30px;
}
.animate-no .first i {
  font-size: 22px;
  padding: 8px;
}
.animate-no .second {
  width: 25%;
  padding-right: 20px;
}
.animate-no .second i {
  font-size: 22px;
  padding: 8px;
}
.animate-no .third {
  text-align: start;
  width: 35%;
}
.animate-no .third i {
  font-size: 22px;
  padding: 8px;
}

/* third section */
.third-section {
  min-height: 150px;
  padding-bottom: 30px;
}

.third-section-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 50px;
}

.third-section-div h3 {
  font-size: 20px;
  color: #6674cc;
  padding: 20px;
}
.third-section-div h4 {
  font-size: 25px;
  color: black;
  font-weight: 500;
}
.third-section-div h5 {
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.third-section-div button {
  color: white;
  background-color: #6674cc;
  padding: 15px 7px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 125px;
}

.third-section-div button :hover {
  color: #6674cc;
  background-color: white;
}

/* foruth section */
main {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8fd;
 
  overflow: hidden;
}
main .blue {
  margin: 20px;
  color: #6674cc;
}

.animatefirst {
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: white;
  height: 200px;
  width: 80%;

  overflow: hidden;
}

.animateimg {
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.animateimg img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.animatepara{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.animatepara p{
  padding: 10px;
}

.fifth-section{
  margin: 20px 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.fifth-section h4{
  font-size: 21px;
  margin: 25px;
  font-weight: 590;
}

.fifth-section img{
  height: 800px;
  width: 1200px;
}

.six-section{
  height: 400px;
  width: 100vw;
  background-color: #F8F8FD;
  margin-top: 70px;
}

.six-section h2{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: 30px;
}
.six-section h3{
  color: blue;
  font-size: 20px;
  text-align: center;
}
