@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* overflow-X: hidden; */
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  text-align: center;
  align-items: center;
  position: fixed;
  background-color: white;
}
.logo {
  width: 45%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.logo .span1 {
  color: black;
}
.logo .span2 {
  color: #ffa511;
}

button {
  margin-left: 30px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
#btn1 {
  background-color: #6674cc;
  color: white;
  border: none;
}
#btn2 {
  border: 2px solid #6674cc;
  color: #6674cc;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

nav ul li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  background-color: white;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu li a {
  color: black;
}

/* first section start */
#first-section {
  min-height: 40%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(220, 222, 243));
  display: flex;
}

#left-section {
  float: left;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#left-section span {
  color: #6674cc;
}
#left-section #p1 {
  font-size: 55px;
  padding: 0;
  font-weight: 550;
  padding-bottom: 20px;
  margin-left: 100px;
}
#left-section #p1 span {
  color: #6674cc;
}

#left-section #p2 {
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
  font-size: 25px;
}
#left-section #p3 {
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  color: #6a6a6a;
}

#right-section {
  float: right;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-section img {
  height: 70%;
  padding-left: 150px;
}

/* ===========second section============= */
.second-section {
  min-height: 200px;
  background-color: #505ba0;
}

.second-section p {
  text-align: center;
  padding-top: 50px;
  padding-left: 40px;
  font-size: 20px;
  color: white;
  font-family: "Roboto Slab", serif;
}

.animate-no {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.animate-no div {
  text-align: center;
  padding-top: 20px;
  color: white;
}
.animate-no div h3 {
  font-weight: 500;
}

.animate-no div h4 {
  font-size: 20px;
  font-weight: 590;
  display: block;
}
.animate-no .first {
  text-align: end;
  width: 40%;
  padding-right: 30px;
}
.animate-no .first i {
  font-size: 22px;
  padding: 8px;
}
.animate-no .second {
  width: 25%;
  padding-right: 20px;
}
.animate-no .second i {
  font-size: 22px;
  padding: 8px;
}
.animate-no .third {
  text-align: start;
  width: 35%;
}
.animate-no .third i {
  font-size: 22px;
  padding: 8px;
}

/* third section */
.third-section {
  min-height: 150px;
  padding-bottom: 30px;
}

.third-section-div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin: 50px;
}

.third-section-div h3 {
  font-size: 20px;
  color: #6674cc;
  padding: 20px;
}
.third-section-div h4 {
  font-size: 25px;
  color: black;
  font-weight: 500;
}
.third-section-div h5 {
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.third-section-div button {
  color: white;
  background-color: #6674cc;
  padding: 15px 7px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 125px;
}

.third-section-div button :hover {
  color: #6674cc;
  background-color: white;
}

/* foruth section */
.fourth-section {
  height: 350px;
  background-color: #f8f8fd;
}
.fourth-section .blue {
  margin: 12px 40%;
  padding-top: 30px;
  color: #6674cc;
}

.animatefirst {
  display: flex;
  flex-direction: row;
  width: 40%;
  background-color: white;
  height: 200px;
  width: 80%;
  margin: 20px 10%;
  position: absolute;
}

.animateimg {
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.animateimg img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.animatepara {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.animatepara p {
  padding: 10px;
}

/* fifth section */

.fifth-section {
  margin: 20px 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.fifth-section h4 {
  font-size: 21px;
  margin: 25px;
  font-weight: 590;
}

.fifth-section img {
  height: 800px;
  width: 1200px;
}
.six-section {
  height: auto; /* Remove the fixed height */
  width: 100%;
  background-color: #f8f8fd;
  margin-top: 70px;
  overflow: hidden; /* Add overflow: hidden to contain the floated elements */
}

.six-section h2 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: 30px;
}

.six-section span {
  font-size: 20px;
  display: block; /* Change position: absolute to display: block */
  margin: 0 auto; /* Center the span horizontally */
}

.highlight-instagram {
  color: rgb(254, 74, 104);
}

.highlight-telegram {
  color: rgb(41, 124, 219);
}

.highlight-youtube {
  color: red;
}

#wrapper {
  position: relative;
  top: 30px;
  margin: 20px;
  background-color: red;
  display: flex;
  width: 100%;
  height: 230px;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
}

#first {
  background-color: blue;
  width: 30%;
}

#second {
  background-color: #333;
  width: 30%;
}

#third {
  background-color: #ffa511;
  width: 30%;
}
